.txtNavbar {
    justify-content: flex-end !important;
    color: white;
}

.linkNavbar{
    text-decoration: none !important;
    padding: 8px;
}

.navbar {
    background-color: rgb(41, 47, 54) !important
    }

.linkNavbar:hover {
    background-color: black;
}